<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ServerHost" value="localhost" />
        <add key="ServerPort" value="11037" />
        <add key="ClientPort" value="11038" />
        <add key="ConnectionKey" value="Bat" />
        <add key="MapSeed" value="22781402" />
    </appSettings>
</configuration>